html {
  scroll-behavior: smooth;
}

.landing-page {
  color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
}

.landing-page__header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: #2c2c2c56;
  backdrop-filter: blur(30px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
}

.landing-page__logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  transition: all 0.1s ease;
}

.landing-page__logo:hover {
  color: var(--primary-bg-color);
}

.landing-page__nav {
  display: flex;
}

.landing-page__nav-list {
  display: flex;
  list-style: none;
}

.landing-page__nav-link {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 1.2rem 1rem;
}

.landing-page__nav-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.carousel {
  background-color: #000000;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel__overlay {
  position: absolute;
  padding-left: 4rem;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgb(0, 0, 0) 10%, transparent);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

.carousel__text {
  color: #fff;
  text-align: left;
}

.carousel__text h1 {
  font-size: 2.5rem;
  text-shadow: 10px 10px 50px rgba(0, 0, 0, 1), 0 0 50px rgba(0, 0, 0, 1);
}

.carousel__text p {
  margin: 10px 0 0 0;
  font-size: 1.2rem;
  text-shadow: 10px 10px 50px rgba(0, 0, 0, 1), 0 0 50px rgba(0, 0, 0, 1);
}

.explore__button {
  margin: 1rem 0;
}

.button__started {
  text-decoration: none;
  max-width: 250px;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  border: none;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 1);
}

.button__started:hover {
  background-color: #ffffffa8;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mask-image: linear-gradient(#000000 80%, transparent);
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 3;
  font-size: 2rem;
}

.carousel__button:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.carousel__button--prev {
  left: 10px;
}

.carousel__button--next {
  right: 10px;
}

.carousel__pagination {
  margin-top: 1rem;
  display: flex;
  gap: 5px;
  z-index: 3;
}

.carousel__dot {
  width: 25px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  cursor: pointer;
  transition: width 0.6s ease;
}

.carousel__dot--active {
  background-color: var(--primary-bg-color);
  width: 47px;
}

.about {
  background: #002b5c;
}

.about__content--margin {
  margin-top: 2rem;
}

.about__content {
  text-align: center;
}

.about__us {
  background: linear-gradient(rgba(0, 0, 0) 10%, transparent);
  padding: 5rem 20rem 0 20rem;
}

.about__title {
  font-weight: 500;
  font-size: 2.6rem;
}

.about__paragrapht {
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: 1px;
  margin-top: 1.6rem;
}

.about__content--flex {
  margin-top: 4rem;
  padding: 0 10rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.abaut-content__card {
  max-width: 600px;
  border-width: 2px;
  border: 2px solid var(--primary-bg-color);
  background-color: transparent;
  position: relative;
  display: inline-flex;
}

.abaut-content__card:focus {
  outline: none;
}

@media (min-width: 640px) {
  .abaut-content__card {
    width: auto;
  }
}

/*====================*/

.card__content {
  display: inline-flex;
  flex-direction: column;
  gap: 1rem; /* 8 * 0.25rem */
  color: white;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  padding: 3rem 1rem; /* px-4 py-12 */
  font-size: 1.125rem; /* text-lg */
  text-align: center;
  background-color: var(--primary-bg-color);
  border-width: 1px;
  border-color: var(--primary-bg-color); /* ring-1 ring-custom-purple */
  box-shadow: 0 0 0 1px var(--primary-bg-color); /* ring-offset-1 ring-offset-custom-purple */
  transition: transform 0.2s ease-in-out;
}

.card__content:hover {
  transform: translate(-0.75rem, 0.75rem); /* group-hover:-translate-y-3 group-hover:translate-x-3 */
}

.card__content:focus {
  transform: translate(0.25rem, -0.25rem); /* group-focus:-translate-y-1 group-focus:-translate-x-1 */
}

.icon__container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__content--text{
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  justify-content: center;
  align-items: center;
}

.card__content--title{
  font-size: 1.5rem;
}

.card__content--description{
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: 1px;
}