html {
  scroll-behavior: smooth;
}

.landing-page {
  color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
}

.landing-page__header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: #2c2c2c56;
  backdrop-filter: blur(30px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
}

.landing-page__logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  transition: all 0.1s ease;
}

.landing-page__logo:hover{
  color: var(--primary-bg-color) ;
}

.landing-page__nav {
  display: flex;
}

.landing-page__nav-list {
  display: flex;
  list-style: none;
}

.landing-page__nav-link {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 1.2rem 1rem;
}

.landing-page__nav-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.carousel {
  background-color: #000000;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel__overlay {
  position: absolute;
  padding-left: 4rem;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgb(0, 0, 0) 10%, transparent);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

.carousel__text {
  color: #fff;
  text-align: left;
}

.carousel__text h1 {
  font-size: 2.5rem;
  text-shadow: 10px 10px 50px rgba(0, 0, 0, 1), 0 0 50px rgba(0, 0, 0, 1);
}

.carousel__text p {
  margin: 10px 0 0 0;
  font-size: 1.2rem;
  text-shadow: 10px 10px 50px rgba(0, 0, 0, 1), 0 0 50px rgba(0, 0, 0, 1);
}

.explore__button {
  margin: 1rem 0;
}

.button__started {
  text-decoration: none;
  max-width: 250px;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  border: none;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 1);
}

.button__started:hover {
  background-color: #ffffffa8;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mask-image: linear-gradient(#000000 80%, transparent);
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 3;
  font-size: 2rem;
}

.carousel__button:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.carousel__button--prev {
  left: 10px;
}

.carousel__button--next {
  right: 10px;
}

.carousel__pagination {
  margin-top: 1rem;
  display: flex;
  gap: 5px;
  z-index: 3;
}

.carousel__dot {
  width: 25px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  cursor: pointer;
  transition: width 0.6s ease;
}

.carousel__dot--active {
  background-color: var(--primary-bg-color);
  width: 47px;
}

.about {
  background: #002b5c;
}

.about__content--margin{
  margin-top: 2rem;
}

.about__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about__us{
  background: linear-gradient(rgba(0, 0, 0) 10%, transparent);
  padding: 5rem 20rem 0 20rem;

}

.about__title{
  font-weight: 500;
  font-size: 2.6rem;
}

.about__paragrapht{
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: 1px;
  margin-top: 1.6rem;
}
