.burger-menu__icon-open{
    position: absolute;
    z-index: 50;
    top: 16px;
    left: 10px;
    padding: 4px;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid #000;

    &:hover{
        background-color: var(--primary-bg-color);
        opacity: 0.5;
    }
}
 
.burger-menu__content{
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    background-color: #ffff;
    transition: transform 0.3s ease-in-out;
    z-index: 50;
}


.menu__open {
    transform: translateX(0);
}

.menu__close {
    transform: translateX(-100%);
}

.navigation__component-items{
    margin-top: 2rem;
}

.navigation__link{
    cursor: pointer;
    display: flex;
    gap: 1rem;
    padding: 0.7rem 1.5rem;
    text-decoration: none;
    color: #000;

    &:hover{
        background-color: #d2d2d2;
    }
}

.burguer-menu__overlay{
    position: fixed;
    inset: 0;
    background-color: #0000004d;
    display: block;
}