.footer {
    width: 100%;
    background-color: #000000;
    color: #fff;
    padding: 2rem;
  }
  
  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .footer__section--items {
    display: flex;
    gap: 3rem;
  }
  
  .footer__item p {
    opacity: 0.7;
  }
  
  .footer__section--activity {
    text-align: center;
  }
  
  .footer__section--activity p {
    opacity: 0.7;
  }
  
  .footer__copyright--modified-text {
    opacity: 0.7;
  }

  @media (max-width: 736px) {

    .footer {
      padding: 1rem 1rem 2rem 1rem;
    }
    .footer__section--items {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }

    .footer__section{
      text-align: center;
    }

    .footer__item{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .footer__container {
      width: 100%;
    }
    .footer__item-description--numbers {
      max-width: 100%;
    }
  }

  @media (min-width: 848px) and (max-width: 1076px) {
    .footer__item-description--numbers {
      width: 120px;
    }
  }

  