.layout__general{
    display: flex;
    width: 100%;
} 

.sidebar__part{
    background-color: #fff;
    width: 100%;
    max-width: 16%;
    height: 100vh;
}

.next__content{
    width: 100%;
    max-width: 84%;
}

.principal__content{
    padding: 3rem 1rem;
}