.layout__general {
    position: relative;
    height: 100vh;
    display: flex;
    width: 100%;
}

.layout__sidebar-part {
    overflow-y: scroll;
    position: sticky;
    background-color: #fff;
    border-right: 1px solid #e5e7eb;
    width: 100%;
    max-width: 16%;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.layout__sidebar-part::-webkit-scrollbar {
    display: none;
}

.layout__next-content {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    max-width: 84%;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.layout__next-content::-webkit-scrollbar {
    display: none;
}   

.layout__principal-content {
    padding: 4rem 1.5rem 1.5rem 1.5rem;
}

.laytout__burger-menu{
    display: none;
}

@media (max-width: 1244px) {
    .layout__sidebar-part{
        display: none;
    }
    .layout__next-content{
        max-width: 100%;
    }

    .laytout__burger-menu{
        display: block;
    }
    
}