.revision-proposals__title {
    margin-bottom: 0.5rem;
}

.revision-proposals__add-icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.revision-proposals__icon-add {
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

.revision-proposals__icon-add:hover {
    color: #8cbe42;
}

.revision-proposals__content {
    padding: 1rem;
    background-color: #fff;
    border-radius: 9px;
    border: 1px solid #e5e7eb;
}


.revision-proposals__header--table{
    display: flex;
    gap: 1rem;
    padding-bottom: 0.7rem;
    margin-bottom: 0.3rem;
    border-bottom: 1px solid #e5e7eb;
    align-items: center;
}

.revicion-proposals__header--page{
    cursor: pointer;
    color: #3d3d3d;
}