.contract-management__title {
    margin-bottom: 0.5rem;
}

.contract-management__add-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contract-management__icon-add {
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

.contract-management__icon-add:hover {
    color: #8cbe42;
}

.contract-management__content {
    padding: 1rem;
    background-color: #fff;
    border-radius: 9px;
    border: 1px solid #e5e7eb;
}

.contract-management__content--table {
    margin-top: 2rem;
}

.contract-management__header--table{
    display: flex;
    gap: 1rem;
    padding-bottom: 0.7rem;
    margin-bottom: 0.3rem;
    border-bottom: 1px solid #e5e7eb;
    align-items: center;
}