.waste-management {
    margin-bottom: 0.5rem;
}

.waste-management__add-icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.waste-management__icon-add {
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

.waste-management__icon-add:hover {
    color: #8cbe42;
}

.waste-management__content {
    padding: 1rem;
    background-color: #fff;
    border-radius: 9px;
    border: 1px solid #e5e7eb;
}

.waste-management__content--table {
    margin-top: 2rem;
}